<div class="h-screen" [ngClass]="isDarkTheme ? 'dark' : 'light'">
  <mat-toolbar class="flex justify-between items-center bg-custom-blue-900 text-white">
    <h1>Tag Editor</h1>

    <div class="flex items-center">
      <button (click)="changeTheme()" mat-icon-button matTooltip="Toggle Theme">
        <mat-icon class="flex justify-center items-center"> {{ isDarkTheme ? 'dark_mode' : 'light_mode' }} </mat-icon>
      </button>

      <a href="https://github.com/hossein13m/tag-input" target="_blank" matTooltip="GitHub repository">
        <img src="../assets/github.png" alt="GitHub"/>
      </a>
    </div>
  </mat-toolbar>
  <div class="flex flex-col justify-center items-center bg-custom-grey-100 dark:bg-custom-grey-900 app-container">
    <app-wrapper
      [suggestionsList]="suggestions"
      (suggestionSelect)="selectSuggestion($event)"
      [tags]="tags"
      (tagRemove)="removeTag($event)"
      (inputValue)="onInputValueChange($event)"
    ></app-wrapper>
  </div>
</div>
